#content_wrap{
    width: 100%;
    box-sizing: border-box;
    background: rgb(240, 240, 240);
}
#content{
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
    /* border: 1px solid #000; */
}
.area{
    width: 100%;
    padding: 20px 20px;
    background: white;
    border-radius: 3px;
}
.funding, .reward, .payment, .block, .shipping{
    margin-bottom: 13px;
}
.funding.cate, .funding.company, .funding.data,
.option, .caution, .pay, .member, .address{
    font-size: 0.95em;
}
.title{
    font-size: 1.2em;
    font-weight: 900;
}
#content a{
    text-decoration: underline;
}
.funding.data{
    margin-top: 30px;
}
.f-data{
    margin: 17px 0;
}
.f-value{
    display: inline-block;
    float: right;
}
.funding.receipt{
    clear: both;
    display: block;
    margin: 30px 0 0 0;
}
.option{
    margin: 13px 0;
}
.reward.state{
    font-size: 1.1em;
    font-weight: 900;
    color: #815b9c;
}
.caution{
    margin-top: 30px;
}
.caution.link{
    margin-top: 15px;
}
.subtitle{
    font-size: 0.85em;
    font-weight: 800;
}
.data{
    margin: 30px 0;
}
p{
    font-size: 0.7em;
    font-weight: 700;
}
.inquiry.link{
    width: 90%;
    height: 50px;
    margin: 10px auto;
    text-align: center;
    line-height: 50px;
    border: 1px solid #000;
    text-decoration: none;
}
.content> a{
    text-decoration: none;s
}
.last{
    font-size: 0.75em;
    font-weight: 500;
}
.btn-back{
    padding: 10px 0;
    width: 165px;
    margin: 50px auto;
}
    
