*{
    box-sizing: border-box;
}
#wrap{
    width: 100%;
    margin: 0 auto;
}
body {
    font-family: 'NanumSquare', sans-serif;
}
head, link, meta, script, style, title{
	display: none;
}
fieldset {
    border: none;
}
button{
	border: none;
	outline: 0;
    background: none;
    cursor: pointer;
}
li{
	text-align: center;
}
a{
	text-decoration: none;
}
a:hover{
    text-decoration: none;
}
#contents{
    margin: 0 auto;
    width: 1280px;
    padding: 0 80px;
}
.sign-container{
    position: static;
    margin: 80px auto;
    padding: 0px 10px;
    width: 100%;
    max-width: 400px;
}
.wdw.sign-container.form-container{
    position: relative;
    padding: 0px 15px;
}

.wdw.title{
    margin-bottom: 50px;
    font-size: 35px;
}

.wdw.title + h3{
    display: block;
    padding-bottom: 10px;
    color: #815b9c;
    font-weight: 800;
    border-bottom: 2px solid #815b9c;
}

.wdw.form{
    margin-top: 25px;
}

.field{
    margin: 15px 0px;
}
.wdw.input{
    font-size: 17px;
}
.wdw.input>input{
    height: 50px;
    font-size: 17px;
    font-weight: 300;
    width: 100%;
    outline: none;
    border: 1px solid slategray;
    margin: 15px 0;
    padding: 0px 15px;
}
.wdw.button{
    margin: 20px 0px;
    height: 50px;
    vertical-align: middle;
    border: 1px solid #fff;
    color: snow;
    font-size: 17px;
    font-weight: 500;
    width: 100%;
    border-color: #815b9c;
    background: #815b9c;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.wdw.button:hover{
    border-color: #926d9f;
    background: #926d9f;
}
.wdw.input > input::placeholder{
    font-size: 17px;
}