#facebookWrap{
    position: fixed;
    height: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}
#facebookHead{
    position: relative;
    text-align: center;
    vertical-align: middle;
    max-width: 480px;
    width: 100%;
    padding: 60px 70px;
    margin: 0px auto;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid silver;
}
.facebookLogo{
    position: relative;
    width: 100%;
    margin: 0px auto;

}
.facebook-form{
    margin-top: 25px;
    width: 100%;
}
.field{
    width: 100%;
    margin: 15px 0px;
}
.facebook.input>input{
    height: 50px;
    font-size: 13px;
    font-weight: 300;
    color: #e5e5e5;
    width: 90%;
    outline: none;
    border: 0px;
    border-bottom: 1px solid #e5e5e5;;
    padding: 0px 15px;
}
.facebook.button{
    margin: 20px 0px;
    height: 50px;
    vertical-align: middle;
    border: 1px solid #fff;
    color: black;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    border-color: #304D8A;
    background: #304D8A;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.membership{
    margin-top: 20px;
    text-align: center;
    font-size: 11px;
}
.facebook.join>a{
    float: left;
    margin: 0px 10px;
    text-decoration: none;
    color: black;
}
.facebook.find-pw>a{
    float: right;
    margin: 0px 10px;
    text-decoration: none;
    color: black;
}