<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.idea.IdeaMapper">
	<select id="list" resultType="ideaVO"> 
		select * from idea ORDER BY idea_gid desc
		
	</select>
	
	
	<select id="listSch" resultType="ideaVO" parameterType="ideaVO"> 	
		select * from idea where idea_title like '%${idea_title}%' ORDER BY idea_gid desc
	</select>

	 <select id="detail" resultType="ideaVO" parameterType="java.lang.Integer">
	 	select * from idea where idea_no = #{idea_no}
	 </select>
	 
	 
	 	
	<sql id="noMax">
		(select max(idea_no)+1 from idea)
	</sql>
	 
	<insert id="insert" parameterType="ideaVO">
		<selectKey keyProperty="idea_no" resultType="java.lang.Integer" order="BEFORE">
			<include refid="noMax"/>
		</selectKey>
		
		insert into idea 
		(idea_no, idea_writer, idea_title, idea_content, idea_img, idea_regdate, idea_cnt, idea_gid, idea_seq, idea_lev)
		values
		(#{idea_no}, #{idea_writer}, #{idea_title}, #{idea_content}, #{idea_img}, sysdate, 0, #{idea_no}, 0, 0)
	
	</insert>
	
	<delete id = "delete" parameterType="ideaVO">
		delete from idea where idea_no = #{idea_no}
	</delete>
	
	<update id="modify" parameterType="ideaVO">
		<![CDATA[			
			update idea set idea_title = #{idea_title}, idea_content = #{idea_content}, idea_img = #{idea_img} where idea_no = #{idea_no}
		]]>
	</update>


</mapper>






