@charset "UTF-8";

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
    font-family: 'NanumSquare', sans-serif;
}
head, link, meta, script, style, title{
	display: none;
}
fieldset {
    border: none;
}
button{
	border: none;
	outline: 0;
	background: none;
}
*{
	margin: 0;
	padding: 0;
}
ul{
	
}
li{
	width: 100px;
	height: 50px;
	float: left;
	list-style: none;
	line-height: 50px;
	text-align: center;
}
a{
	text-decoration: none;
	color: #000;
}
/* wrap */
#roads_wrap{
	width: 100%;
	margin: 0 auto;
}
/* banner */
#banner_wrap{
	width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;
	z-index: -9;
}
#banner_wrap .banner_img img{
	width: 100%;
	height: 200px;
}
.banner_title{
	z-index: 999;
	position: absolute;
	font-size: 40px;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* road_wrap */
#road_wrap{
	width: 100%;
	margin: 0 auto 50px;
}
.road_menu{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #dadada;
}
.road_menu_list{
	width: 300px;
	margin: 0 auto;
}
.road_menu li{
	width: 150px;
	line-height: 50px;
}
.road_menu li a{
	display: block;
	width: 100%;
	height: 100%;
}
.road_menu li:hover{
	cursor: pointer;
	background-color: #815b9c;
}
.road_menu li:hover a{
	color: #fff;
}
.road_map{
    width: 1280px;
    height: 500px;
    margin: 50px auto;
}
.sub_strapline{
    display: block;
    position: relative;
    margin-bottom: 3%;
    padding-bottom: 1%;
    font-size: 1.875em;
    color: #111;
    text-align: center;
	letter-spacing: -0.03em;
	font-weight: normal;
} 
#map_canvas{
    margin-top: 50px;
}