<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카카오 계정</title>
    <link rel="stylesheet" href="../css/common/reset.css">
    <link rel="stylesheet" href="../css/login/login_google_sub.css">
</head>
<body>
    <div id="wrap">
        <div id="googleWrap">
            <div id="googleHead">
                <div class="googleLogo">
                    <span>google</span>
                    <div class="google-form">
                        <div class="field">
                            <div class="google input">
                                <input type="email" name="userId" id="userId" class="input-email" placeholder="구글 계정(이메일 또는 전화번호)">
                            </div>
                        </div>
                        <div class="field">
                            <div class="google input">
                                <input type="password" name="password" id="password" class="password" placeholder="비밀번호">
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="google button submit-button">로그인</button>
                <div class="google membership">
                    <div class="google join">
                        <a href="">회원가입</a>
                    </div>
                    <div class="google find-pw">
                        <a href="">비밀번호 찾기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>