<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카카오 계정</title>
    <link rel="stylesheet" href="../css/common/reset.css">
    <link rel="stylesheet" href="../css/login/login_kakao_sub.css">
</head>
<body>
    <div id="wrap">
        <div id="kakaoWrap">
            <div id="kakaoHead">
                <div class="kakaoLogo">
                    <span>kakao</span>
                    <div class="kakao-form">
                        <div class="field">
                            <div class="kakao input">
                                <input type="email" name="userId" id="userId" class="input-email" placeholder="카카오 계정(이메일 또는 전화번호)">
                            </div>
                        </div>
                        <div class="field">
                            <div class="kakao input">
                                <input type="password" name="password" id="password" class="password" placeholder="비밀번호">
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="kakao button submit-button">로그인</button>
                <div class="kakao membership">
                    <div class="kakao join">
                        <a href="">회원가입</a>
                    </div>
                    <div class="kakao find-pw">
                        <a href="">비밀번호 찾기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>