.inquiry_answer_wrapper{
	margin: 0 auto;
	width: 80%;
	height: 100%;
	border: 1px solid #000;
	
}
.inquiry_answer_wrapper > span{
	padding-left: 10px;
	width: 100%;
	font-weight: bold;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
}
#btn_box_wrapper{
	width: 100%;
	height: 40%;
	margin-bottom: 10px;
}
.btn_box{
	width: 40%;
	height: 50px;
	padding-top: 20px;
}
.btn_select{
	width: 70px;
	height: 35px;
	border: 1px solid #000;
	margin-left: 15px;
	outline: none;
	background-color: #0000003b;
}
#inquiry_answer_table_box{
	width: 100%;
}
.table{
	margin-bottom: 0;
}
/* th:nth-child(4){
	width: 40%;
} */
th[scope=row]{
	vertical-align: middle;
}
th{
	font-weight: bold;
}
.table td{
	font-size: small;
	vertical-align: middle;
}
.reply{
	width: 60px;
	height: 30px;
	border: 1px solid #000;
	outline: none;
	background-color: #0000003b;
}
#funding_status_page{
	border-top: 1px solid #000;
}
.btn-toolbar{
	justify-content: center;
}
.btn-group .btn{
	color: gray;
	font-size: small;
}
