*{
    box-sizing: border-box;
}
#wrap{
    width: 100%;
    margin: 0 auto;
}
body {
    font-family: 'NanumSquare', sans-serif;
}
head, link, meta, script, style, title{
	display: none;
}
button{
	border: none;
	outline: 0;
    background: none;
    cursor: pointer;
}a{
	text-decoration: none;
}#contents{
    margin: 0 auto;
    width: 1280px;
    padding: 0 80px;
}

#c-area{
    width: 400px;
    margin: 0px auto;
    padding: 40px 15px;
    
}
.c-title{
    font-size: 2em;
    color: black;
    font-weight: bold;
    margin-bottom: 40px;
}

.term-check-all{
    position: relative;
    margin-bottom: 30px;
    padding-right: 25px;
}
.c-checkbox{
    display: block;
}
.c-checkbox>input{
    position: absolute;
    margin-top: 3px;
}
.c.text{
    margin-bottom: 5px;
}
.c.text.subtext1{
    padding-left: 35px;
    font-size: 1.3em;
}
.c.text.caption1{
    display: inline-block;
    padding-left: 35px;
    font-size: 0.6em;
    
}
.term{
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    padding: 0;
    width: 25px;
    height: 100%;
}
.field{
    margin: 25px 0px;
}
.wdw.input.action{
    display: flex;
    position: relative;
}
.wdw.input{
    width: 100%;
    height: 45px;
    outline: none;
    vertical-align: middle;
    background-color: #fff;
    font-size: 17px;
    font-weight: 300;
    box-sizing: border-box;
    
}
.wdw.input>input{
	padding-left: 15px;
	width: 100%;
    height: 45px;
    line-height: 1.2em;
    font-size: 17px;
    font-weight: 300;
    border: 1px solid #eeeeee;
}
.wdw.input > input::placeholder{
    font-size: 17px;
}
#mem-id{
    padding-right: 100px;
}
.wdw.input > button {
    position: absolute;
    padding: 0 13px 0 13px;
    margin: 5px 5px 0 0;
    right: 0;
    outline: none;
    height: 35px;
    line-height: 35px;
    background-color: #815b9c;
    color: #fff;
    font-size: 15px;
}
em.help{
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
}
.help{
    display: block;
    margin-top: 3px;
}
.mem-pw-field div{
    margin-top: 10px;
}
.form-com{
    width: 100%;
    height: 45px;
    font-size: 17px;
    outline: none;
    background: #815b9c;
    color: #fff;
    border: 1px solid #eeeeee;
}
article{
    height: 250px;
    overflow: auto;
}