@charset "UTF-8";

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
    font-family: 'NanumSquare', sans-serif;
}
head, link, meta, script, style, title{
	display: none;
}
fieldset {
    border: none;
}
caption, legend, .hidden{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
}
button{
	border: none;
	outline: 0;
	background: none;
}
*{
	margin: 0;
	padding: 0;
}
ul{
	
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
}
/* wrap */
#events_wrap{
	width: 100%;
	margin: 0 auto;
}
/* banner */
#banner_wrap{
	width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;
	z-index: -9;
	background: #ccc;
}
#banner_wrap .banner_img img{
	width: 100%;
	height: 200px;
}
.banner_title{
	z-index: 999;
	position: absolute;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* event_wrap */
#event_wrap{
	width: 100%;
	margin: 0 auto 50px;
}
.event_menu{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #dadada;
}
.event_menu_list{
	width: 300px;
	margin: 0 auto;
}
.event_menu li{
    width: 100px;
	height: 50px;
    float: left;
    line-height: 50px;
	text-align: center;
}
.event_menu li:hover{
	cursor: pointer;
	background-color: #815b9c;
}
.event_menu li:hover a{
	color: #fff;
}

/* event_container */
.event_container{
    width: 1280px;
    margin: 0px auto 100px;
}
.sub_strapline{
    display: block;
    position: relative;
    margin: 60px 0 50px 0;
    font-size: 1.875em;
    color: #111;
    text-align: center;
	letter-spacing: -0.03em;
	font-weight: normal;
} 
.event_box_slider_wrap{
    position: relative;
}
.event_ui_slider{
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.event_ui_slider_area{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
    transform: translate3d(-1300px, 0px, 0px); 
    transition-duration: 0ms;
}
.event_box_slider_wrap .event_box_slider .event_slide_cont{
    overflow: hidden;
    width: 630px; 
    margin-right: 20px;
}
.event_slide_cont{
    position: relative;
    text-align: center;
    font-size: 16px;
    background: #fff;
    display: flex;
    box-align: center;
    align-items: center;
    flex-shrink: 0;
}
.event_blind{
    visibility: hidden;
}
.event_main_slider .event_thumb img{
    width: 100%;
    height: 100%;
}
.event_main_slider .event_title_area{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 17px 25px 0;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    box-sizing: border-box;
}
.event_main_slider .event_title_area em{
    display: block;
    width: 100%;
    font-size: 16px;
    color: #fff;
}
.btn_prev{
    left: 0;
    background: #000;
}
.btn_next{
    right: 0;
    background: #000;
}
.btn_prev, .btn_next{
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    font-size: 0;
    z-index: 1;
}
.evt_tab_wrap3{
    position: relative;
}
.evt_mar_to20{
    margin-top: 20px !important;
}
.evt_tab_wrap3 .evt_tab_content{
    width: 100%;
    padding-top: 45px;
}
.evt_list_type01{
    overflow: hidden;
}
.evt_list_type01 ul{
    overflow: hidden;
    margin: -20px 0 0 -20px;
}
.evt_list_type01 li{
    position: relative;
    float: left;
    width: 630px;
    height: 196px;
    margin: 20px 0 0 20px;
    background: #f9f9f9;

}
.evt_list_type01 li .evt_inner_box{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.evt_list_type01 .event_thumb{
    float: left;
    overflow: hidden;
    width: 300px;
    height: 196px;
    font-size: 0;
    line-height: 0;
}
.evt_list_type01 .event_thumb img{
    width: 100%;
    height: 100%;
}
.evt_list_type01 .evt_list_info{
    position: relative;
    float: left;
    width: 330px;
    height: 196px;
    padding: 0 40px;
    box-sizing: border-box;
}
.evt_list_type01 .evt_list_info .evt_title{
    display: block;
    overflow: hidden;
    height: auto;
    max-height: 100px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
    color: #000;
}
.evt_list_type01 .evt_list_info .evt_date{
    position: absolute;
    top: 143px;
    left: 40px;
    color: #555;
}
.event_Btn{
	display: block;
	margin: 30px auto;
	width: 515px;
}
.paging_comm{
	overflow: hidden;
	position: relative;
	width: 100%;
	padding-top: 30px;
	text-align: center;
}
.paging_comm .btn_paging{
	display: block;
	float: left;
	width: 28px;
	height: 28px;
	margin: 0 3px;
	border: 1px solid #e6e6e6;
	text-align: center;
}
.paging_comm .btn_fst .ico_corp{
	background-position: -20px 0;
}
.paging_comm .btn_paging .ico_corp{
	width: 12px;
	height: 9px;
	margin: 9px auto 0;
	line-height: 26px;
	font-weight: bold; 
}
.paging_comm .btn_prev_bottom{
	margin-right: 4px;
}
.paging_comm .btn_prev_bottom .ico_corp{
	width: 6px;
	background-position: -40px 0;
}
.screen_out{
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	text-indent: -9999px;
}
.paging_comm em.link_page{
	font-weight: bold;
	line-height: 27px;
	color: 1e1e1e;
	text-decoration: underline;
}
.paging_comm .link_page{
	float: left;
	margin-left: 25px;
	font-size: 14px;
	line-height: 28px;
	color: #666;
}
.paging_comm .btn_next_bottom{
	margin-left: 30px;
}
.paging_comm .btn_next_bottom .ico_corp{
	width: 6px;
	background-position: -50px 0;
}
.sch_comm{
	width: 500px;
	margin: 0 auto;
	padding-top: 11px;
	border-bottom: 1px solid #1e1e1e;
}
.sch_comm .sch_form{
	position: relative;
}
.sch_comm .lab_sch{
	position: absolute;
	top: 10px;
	left: 0;
	color: #919191;
}
.sch_comm .inp_keyword{
	float: left;
	width: 466px;
	height: 42px;
	border: 0 none;
	box-sizing: border-box;
	color: #1e1e1e;
	padding-left: 10px;
}
.sch_comm .btn_search{
	float: right;
	width: 34px;
	margin-top: 13px;
}
.sch_comm .btn_search .ico_corp{
	width: 20px;
	height: 17px;
	margin: 12px 0 13px 0;
	background-position: 0 -10px;
}